body {
  background-image: url("images/todolist.png");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  text-align: center;
  color: #000000;
}

#task-input {
  outline: none;
  width: 200px;
  padding: 5px 10px;
}

#taskTable {
  margin-left: auto;
  margin-right: auto;
}

.container {
  background-color: rgba(255, 255, 255, 0.8);
  width: 50%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
}

.hidden {
  display: none;
}

#empty-msg {
  color: #555;
  font-style: italic;
  margin-top: 20px;
}

table button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

table button:hover {
  background-color: #cc0000;
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  margin-top: 25px;
}

td {
  padding: 10px;
  word-wrap: break-word;
}

.completed-text {
  text-decoration: line-through;
  color: #888;
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 10px;
  cursor: pointer;
}

.clear-btn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
.clear-btn:hover {
  background-color: #cc0000;
}

#add-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#add-btn:hover {
  background-color: #218838;
}