body {
  background-image: url("images/todolist.png");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  text-align: center;
  color: #000000;
}

#task-input {
  outline: none;
  width: 200px;
  padding: 5px 10px;
}

#taskTable {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}
