body {
  background-image: url("images/todolist.png");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  text-align: center;
  color: #000000;
}

#task-input {
  outline: none;
  width: 200px;
  padding: 5px 10px;
}

#taskTable {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.container {
  background-color: rgba(255, 255, 255, 0.8);
  width: 50%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

table {
  border-collapse: collapse;
  width: 100%;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
}

.hidden {
  display: none;
}

#empty-msg {
  color: #555;
  font-style: italic;
  margin-top: 20px;
}
